<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.johannes.backup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/ansible-playbook</string>
      <string>/Users/Johannes/Sites/ansible/backup-complete-backups-folder-playbook.yml</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/mycommand.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/mycommand.out</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>21</integer>
      <key>Minute</key>
      <integer>00</integer>
    </dict>
  </dict>
</plist>
